@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-navbar-background: var(--navbar-background);
  --color-branch-line: var(--accent);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:enabled {
    cursor: pointer;
  }
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer base {
  :root {
    --navbar-height: 50px;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(0.98 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.4 0.11 250);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.917 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.8 0.04 250);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.55 0.237 25.331);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.96 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.7 0.22 250);
    --chart-2: oklch(0.6 0.22 250);
    --chart-3: oklch(0.5 0.22 250);
    --chart-4: oklch(0.4 0.22 250);
    --chart-5: oklch(0.35 0.2 250);
    --radius: 0.5rem;
    --navbar-background: oklch(0.985 0 0);
  }

  .dark {
    --navbar-height: 50px;
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.269 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.55 0.15 250);
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(0.275 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.45 0.05 250);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.275 0 0);
    --input: oklch(0.325 0 0);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.5 0.22 250);
    --chart-2: oklch(0.4 0.22 250);
    --chart-3: oklch(0.3 0.2 245);
    --chart-4: oklch(0.3 0.2 250);
    --chart-5: oklch(0.2 0.22 250);
    --navbar-background: oklch(0.27 0 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.branch-line::before {
  @apply content-[''] absolute top-0 -left-5 border-b-2 border-l-2 border-accent size-6 rounded-bl-full hover:border-black;
}
